@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'),
       url('/fonts/fira-mono-v6-latin-ext_latin-regular.woff2') format('woff2'),
       url('/fonts/fira-mono-v6-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Mono Bold'), local('FiraMono-Bold'),
       url('/fonts/fira-mono-v6-latin-ext_latin-700.woff2') format('woff2'),
       url('/fonts/fira-mono-v6-latin-ext_latin-700.woff') format('woff');
}

html {
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  color: white;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  background-color: #000806;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.5rem;
}

h2 {
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: border-bottom-color 0.2s;
}

a:hover, a:active {
  border-bottom-color: transparent;
}

section {
  margin-top: 3rem;
}

#main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.band {
  float: right;
  width: 5rem;
}

.bandpath {
  fill: #FF4500;
}

#main h1 {
  margin-top: 0;
  padding-top: 3rem;
}

@media screen and (min-width: 599px) {
  .band {
    width: 15rem;
  }

  section {
    margin-top: 5rem;
  }

  #main h1 {
    padding-top: 9rem;
  }
}
