html {
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  color: white;
  font-family: 'Fira Mono', monospace;
  background-color: #000806;
}

h1 {
  font-size: 3rem;
  line-height: 4.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: border-bottom-color 0.2s;
}

a:hover, a:active {
  border-bottom-color: transparent;
}

section {
  margin-top: 5rem;
}

#main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.band {
  float: right;
  width: 15rem;
  height: 20rem;
}

.bandpath {
  fill: #FF4500;
}

#main h1 {
  margin-top: 0;
  padding-top: 9rem;
}
