AddDefaultCharset UTF-8
Options -Indexes
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css $

RedirectMatch 404 /\.git

RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

<FilesMatch ".+\.(gif|jpg|jpeg|png|ico|css|js|woff|woff2)$">
  Header set Cache-Control "max-age=86400, public"
</FilesMatch>

<FilesMatch ".+\.(html|htm|pdf)$">
  Header set Cache-Control "max-age=300, must-revalidate"
</FilesMatch>
